<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" ui-sref="demo.index" class="navbar-brand">{{siteName}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active" ng-repeat="(index, item) in navDefs">
                <a href="#" ui-sref="{{item.state}}">{{item.displayName}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascrit:void(0)">
                    切换
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span> 
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active" ng-repeat-start="(index, item) in siteDefs">
                        <a href="javascript:void(0)" ui-sref="{{item.state}}">
                            <span class="{{item.icon}}"></span>
                            {{item.displayName}}
                        </a>
                    </li>
                    <li class="divider" ng-repeat-end ng-show="!$last"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    admin
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span>
                            个人中心
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-off"></span>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</nav>