<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" ui-sref="home.index" class="navbar-brand">AngularJS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" ui-sref=".directives">Directives Demo</a></li>
            <li><a href="#" ui-sref=".services">Services Demo</a></li>
            <li><a href="#" ui-sref=".filters">Filters Demo</a></li>
            <li><a href="#" ui-sref=".config">Config Demo</a></li>
            <li><a href="#" ui-sref=".others">Others</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ui-sref="teacher.index">教师</a></li>
            <li><a href="#" ui-sref="student.index">学生</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    admin
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span>
                            个人中心
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-off"></span>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</nav>