<!DOCTYPE html>
<html lang="en" ng-app="clapse" ng-controller="HomeController">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<!-- header start -->
<div class="container">header</div>
<!-- header end -->

<!-- main start -->
<div class="container ng-cloak" ng-cloak>
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#tab1" data-toggle="tab">导航1</a></li>
            <li><a href="#tab2" data-toggle="tab">导航1</a></li>
        </ul>
    </div>
    <div class="tab-content col-md-8">
        <div class="tab-pane active" id="tab1">
            内容1内容1内容1内容1内容1内容1内容1内容1内容1内
        </div>
        <div class="tab-pane" id="tab2">
            内容2内容2内容2内容2内容2内容2内容2内容2内容2内
        </div>
    </div>
</div>
<!-- main end -->

<hr/>

<div class="container ng-cloak">
    <div class="col-md-2">
        <ul class="nav" id="accordion">
            <li class="active">
                <a href="#collapse1" data-toggle="collapse" data-parent="#accordion">导航1</a>
                <ul class="collapse" id="collapse1">
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                    <li><a href="#">nav3</a></li>
                </ul>
            </li>
            <li>
                <a href="#collapse2" data-toggle="collapse" data-parent="#accordion">导航2</a>
                <ul class="collapse" id="collapse2">
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                    <li><a href="#">nav3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<hr/>

<div class="container">

    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled = null; reverse = null">
        不排序
    </a>

    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled = 'id'; reverse = !reverse">
        按ID排序
    </a>

    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled = 'name'; reverse = !reverse">
        按名字排序
    </a>

    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled = 'time'; reverse = !reverse">
        按时间排序
    </a>

    <div>
        <input type="checkbox" ng-change="checkAll()" ng-model="isSelectAll"/>全选&nbsp
        当前排序字段：{{sortFiled}}
        是否反序：{{reverse}}
        <br>
        <br>
        <ul class="list-unstyled">
            <li ng-repeat="item in infoList | orderBy : sortFiled : reverse">
                <input type="checkbox" ng-model="item.selected" ng-change="checkOne()"/>
                id:{{item.id}}----name:{{item.name}}-----time:{{item.time}}-----hashKey:{{item.$$hashKey}}
            </li>
        </ul>
    </div>
</div>

<hr/>

<!--使用原生UE方式-->
<div class="container" id="ue_origin"></div>
<!--使用原生UE方式-->

<!--使用angular方式-->
<div class="container ueditor" id="ue_angular" ng-model="ue_angular"></div>
<!--使用angular方式-->

<!-- footer start -->
<div class="container">
    footer
</div>
<!-- footer end -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script type="text/javascript" src="third_components/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="third_components/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="bower_components/angular-ueditor/dist/angular-ueditor.js"></script>

<script src="js/app.js"></script>
<script src="js/index.controller.js"></script>
<script>
    UE.getEditor("ue_origin");
</script>
</body>
</html>