<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="DemoController">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<!-- header start -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">AngularJS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">栏目一</a></li>
            <li><a href="#">栏目一</a></li>
            <li><a href="#">栏目一</a></li>
            <li><a href="#">栏目一</a></li>
            <li><a href="#">栏目一</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">关于我们</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    admin
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span>
                            个人中心
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-off"></span>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- header end -->

<!-- flash start -->
<div class="container">
    <div style="height:300px">
        banner 区域
    </div>
    <hr/>
</div>
<!-- flash end -->

<!-- main start -->
<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#tab1" data-toggle="tab">导航1</a></li>
            <li><a href="#tab2" data-toggle="tab">导航1</a></li>
            <li><a href="#tab2" data-toggle="tab">导航1</a></li>
            <li><a href="#tab3" data-toggle="tab">导航1</a></li>
            <li><a href="#tab4" data-toggle="tab">导航1</a></li>
        </ul>
    </div>
    <div class="tab-content col-md-8">
        <div class="tab-pane active" id="tab1">
            内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1
        </div>
        <div class="tab-pane" id="tab2">
            内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2
        </div>
        <div class="tab-pane" id="tab3">
            内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3内容3
        </div>
        <div class="tab-pane" id="tab4">
            内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4内容4
        </div>
    </div>
</div>
<!-- main end -->

<hr/>

<div class="container">
    <div class="col-md-2">
        <ul class="nav" id="accordion">
            <li class="active">
                <a href="#collapse1" data-toggle="collapse" data-parent="#accordion">导航1</a>
                <ul class="collapse" id="collapse1">
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                    <li><a href="#">nav3</a></li>
                </ul>
            </li>
            <li>
                <a href="#collapse2" data-toggle="collapse" data-parent="#accordion">导航2</a>
                <ul class="collapse" id="collapse2">
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                    <li><a href="#">nav3</a></li>
                </ul>
            </li>
            <li>
                <a href="#collapse3" data-toggle="collapse" data-parent="#accordion">导航3</a>
                <ul class="collapse" id="collapse3">
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                    <li><a href="#">nav3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<hr/>
<div class="container">

    <a href="javascrit:(0)" class="btn btn-default" ng-click="order='id';reverse=true">初始化按id排序</a>
    <a href="javascrit:(0)" class="btn btn-default" ng-click="order='name';reverse=!reverse">按名字排序</a>
    <a href="javascrit:(0)" class="btn btn-default" ng-click="order='time';reverse=!reverse">按时间排序</a>

    <div>
        <input type="checkbox" ng-change="allChecked()" ng-model="selectAllFlag"/>
        <ul>
            <li ng-repeat="item in infoList | orderBy:order:!reverse">
                <input type="checkbox" ng-model="item.selected"
                       ng-change="checkOne()"/>id:{{item.id}}----name:{{item.name}}-----time:{{item.time}}
            </li>
        </ul>
    </div>
</div>
<hr/>

<div class="container">

    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled='id';sort=!sort">初始化按id排序<span ng-if="sortFiled=='id'">--id<span ng-if="sort==true">--UP</span><span ng-if="sort==false">--DOWN</span></span></a>
    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled='name';sort=!sort">按名字排序<span ng-if="sortFiled=='name'">--name<span ng-if="sort==true">--UP</span><span ng-if="sort==false">--DOWN</span></span></a>
    <a href="javascrit:(0)" class="btn btn-default" ng-click="sortFiled='time';sort=!sort">按时间排序<span ng-if="sortFiled=='time'">--time<span ng-if="sort==true">--UP</span><span ng-if="sort==false">--DOWN</span></span></a>

    <div>
        <input type="checkbox" ng-change="allChecked()" ng-model="selectAllFlag"/>
        <ul>
            <li ng-repeat="item in infoList | orderBy:sortFiled:sort">
                <input type="checkbox" ng-model="item.selected"
                       ng-change="checkOne()"/>id:{{item.id}}----name:{{item.name}}-----time:{{item.time}}
            </li>
        </ul>
    </div>
</div>

<!-- footer start -->
<div class="container">
    footer
</div>
<!-- footer end -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>