<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
                <a ui-sref=".debounce">debounce</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref=".checkbox">checkbox</a>
            </li>
            <li><a href="">others3</a></li>
            <li><a href="">others4</a></li>
            <li><a href="">others5</a></li>
        </ul>
    </div>
    <div class="tab-content col-md-8">
        <ui-view></ui-view>
    </div>
</div>