<div class="container">
	<h1>独立作用域</h1>
</div>
<div class="container">
	<ul>
<!-- 		<li ng-controller="DemoIsolateScopeControllerOne">
			1、通过link函数的iAttrs获取数据
			<demo-isolate-scope variable="{{customVariable}}"></demo-isolate-scope>
		</li>
		<br> -->
<!-- 		<li ng-controller="DemoIsolateScopeControllerTwo">
			2、通过@传递<br>
			controller<br>
			<input type='text' ng-model='customVariable'>{{customVariable}}<br>
			directive
			<demo-isolate-scope variable="{{customVariable}}"></demo-isolate-scope>
		</li>
		<br> -->
		<!-- <li>
			3、通过=与父scope中的数据进行双向绑定<br>
			controller<br>
			<input type='text' ng-model='variable'>{{variable}}<br>
			directive
			<demo-isolate-scope variable='variable'></demo-isolate-scope>
		</li> -->
		<br>
		<li ng-controller="DemoIsolateScopeControllerFour">
			<demo-isolate-scope method="customerMethod(param)"></demo-isolate-scope>
			<demo-isolate-scope method="customerMethod(param)"></demo-isolate-scope>
		</li>

	</ul>
</div>